In [1]:
import requests
import pandas as pd

In [2]:
###
# Enter your task ID here
###
task_id = "f653afd8045541f3ab6e399018ade91d"

In [10]:
results_url = "https://gnps.ucsd.edu/ProteoSAFe/DownloadResultFile?task={}&file=query_results/msql/merged_query_results.tsv".format(task_id)

In [13]:
msqlresults_df = pd.read_csv(results_url, sep="\t")

In [16]:
msqlresults_df.describe()

,charge,i,i_norm,i_norm_ms1,ms1scan,mslevel,precmz,query_index,rt,scan
count,467.0,4.670000e+02,467.0,467.0,467.000000,467.0,467.000000,467.0,467.000000,467.000000
mean,0.0,3.656272e+06,1.0,1.0,1426.199143,2.0,415.154820,0.0,4.261891,1428.944325
std,0.0,5.835694e+06,0.0,0.0,1017.115777,0.0,141.398025,0.0,2.642111,1017.102662
min,0.0,6.015000e+03,1.0,1.0,182.000000,2.0,288.134491,0.0,1.020850,183.000000
25%,0.0,1.703335e+05,1.0,1.0,605.000000,2.0,291.144928,0.0,2.135550,612.500000
50%,0.0,5.552210e+05,1.0,1.0,1217.000000,2.0,291.145874,0.0,3.713250,1219.000000
75%,0.0,4.773796e+06,1.0,1.0,2112.500000,2.0,551.144714,0.0,6.037267,2115.500000
max,0.0,2.603391e+07,1.0,1.0,8282.000000,2.0,734.398438,0.0,22.115167,8283.000000